In [1]:
import sqlite3
import pandas as pd

# DB接続
conn = sqlite3.connect("final.db")

# テーブルをDataFrameとして取得
df = pd.read_sql("SELECT * FROM tokyo_rent", conn)

conn.close()

print(df)

ModuleNotFoundError: No module named 'pandas'